<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<!-- css -->
	<link rel="stylesheet" href="../../../assets/css/nadena.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
	
	<!-- js -->
	
	<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
	<script src="../../../assets/js/nav.js"></script>
	
	
	
</head>
<body>
	
	<div class="wrap">
		<header>
			<!-- header -->
			<div class="header_wrap">
				<h2 class="logo"><img alt="메인로고" src="../../../assets/img/main-logo.png"> </h2>
					 <div class="header_menu">
	                    <ul>
	                        <li><a href="">로그인</a></li>
	                        <li><a href="">회원가입</a></li>
	                        <li><a href="">마이페이지</a></li>
	                    </ul>
	                </div>
			</div>
			<!-- // header -->
		</header>
		
		<nav id="nav_wrap">
			<!-- nav -->
			<div class="nav">
				<!-- 카테고리 -->
				<ul class="menu">
					<li><a href="">카테고리1</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
					<li><a href="">카테고리2</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
					<li><a href="">카테고리3</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
					<li><a href="">카테고리4</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
					<li><a href="">카테고리5</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
					<li><a href="">카테고리6</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
					<li><a href="">카테고리7</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
				</ul>
				<!-- //카테고리 -->
			</div>
			<!-- //nav -->
		</nav>
		
		<!-- 배너 -->
		<section class="banner" class="clearfix">
	        <div class="wrap">
	            <div class="window">
	                
	                <div class="carousel" id="carousel">
	                    <!-- 4개 이미지가 하나의 이미지박스 됨-->
	                    <div class="slide">
	                        <div class="mybanner">
	                            <img src="../../../assets/img/event-banner1.jpg" alt="">
	                        </div>
	                    </div>
	
	                    <div class="slide">
	                        <div class="mybanner">
	                            <img src="../../../assets/img/main-logo.png" alt="">
	                        </div>
	                    </div>
	                    
	                     <div class="slide">
	                        <div class="mybanner">
	                            <img src="../../../assets/img/event-banner1.jpg" alt="">
	                        </div>
	                    </div>
	
	                </div>
	                
	            </div> <!--window-->
	            
	            <div class="caption">
	                
	                <div class="text-box">
	                    <div>실용적인</div>
	                    <div>자연친화적</div>
	                    <div>심플한</div>
	                </div>
	                
	            </div>
	            <div class="test">가구</div>
	            <a id="prev2" class="control prev2"></a>
	            <a id="next2" class="control next2"></a>
	        </div>
	        
	    </section>	
	</div>
</body>
<script>
	$(document).ready(function(){
		$('.slider').bxSlider();
	});
	
	$(document).ready(function () {
        $('.bxslider').bxSlider({ // 클래스명 주의!
            audto: true, // 자동으로 애니메이션 시작
            speed: 500,  // 애니메이션 속도
            pause: 5000,  // 애니메이션 유지 시간 (1000은 1초)
            mode: 'horizontal', // 슬라이드 모드 ('fade', 'horizontal', 'vertical' 이 있음)
            autoControls: true, // 시작 및 중지버튼 보여짐
            pager: true, // 페이지 표시 보여짐
            captions: true, // 이미지 위에 텍스트를 넣을 수 있음
        });
    });
</script>

</html>