<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<!-- css -->
	<link rel="stylesheet" href="../../../assets/css/style.css">
	
	
	<!-- js -->
	<script type="text/javascript" src="../../../assets/js/jquery/jquery-1.12.4.js"></script>
	<script src="../../../assets/js/nav.js"></script>
	
	
</head>
<body>
	<!-- 전체 랩 -->
	<div class="wrap">
		<!-- 헤더 -->
		<header id="header_wrap">
			<a href=""><img class="logo" alt="메인로고" src="../../../assets/img/main-logo.png"></a>
			
			<!-- 헤더메뉴1 -->
			<div class="header_menu1">
				<!-- 카테고리 -->
				<ul class="menu">
					<li><a href="">챌린지</a>
						<ul class="sub_menu">
							<li><a href="">인기챌린지</a></li>
							<li><a href="">신규챌린지</a></li>
							<li><a href="">공식챌린지</a></li>
							<li><a href="">----</a></li>
							<li><a href="">운동</a></li>
							<li><a href="">생활</a></li>
							<li><a href="">취미</a></li>
							<li><a href="">소 카테고리7</a></li>
							<li><a href="">소 카테고리8</a></li>
							<li><a href="">소 카테고리9</a></li>
							<li><a href="">소 카테고리10</a></li>
						</ul>
					</li>
					<li><a href="">이벤트</a>
						<ul class="sub_menu">
							<li><a href="">진행중 이벤트</a></li>
							<li><a href="">마감 이벤트</a></li>
							<li><a href="">소 카테고리3</a></li>
						</ul>
					</li>
					<li><a href="">SHOP</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
				</ul>
				<!-- //카테고리 -->
			</div>
			
			<!-- 헤더메뉴2 -->
			<div class="header_menu2">
				<ul>
					<li><a href="">검색</a></li>
					<li><a href="">마이페이지</a></li>
					<li><a href="">북마크</a></li>
				</ul>
			</div>
			 
		</header>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<nav id="nav_wrap">
			<!-- nav -->
			<div class="nav">
				<!-- 카테고리 -->
				<ul class="menu">
					<li><a href="">챌린지</a>
						<ul class="sub_menu">
							<li><a href="">인기챌린지</a></li>
							<li><a href="">신규챌린지</a></li>
							<li><a href="">공식챌린지</a></li>
							<li><a href="">----</a></li>
							<li><a href="">운동</a></li>
							<li><a href="">생활</a></li>
							<li><a href="">취미</a></li>
							<li><a href="">소 카테고리7</a></li>
							<li><a href="">소 카테고리8</a></li>
							<li><a href="">소 카테고리9</a></li>
							<li><a href="">소 카테고리10</a></li>
						</ul>
					</li>
					<li><a href="">이벤트</a>
						<ul class="sub_menu">
							<li><a href="">진행중 이벤트</a></li>
							<li><a href="">마감 이벤트</a></li>
							<li><a href="">소 카테고리3</a></li>
						</ul>
					</li>
					<li><a href="">SHOP</a>
						<ul class="sub_menu">
							<li><a href="">소 카테고리1</a></li>
							<li><a href="">소 카테고리2</a></li>
							<li><a href="">소 카테고리3</a></li>
							<li><a href="">소 카테고리4</a></li>
							<li><a href="">소 카테고리5</a></li>
							<li><a href="">소 카테고리6</a></li>
							<li><a href="">소 카테고리7</a></li>
						</ul>
					</li>
				</ul>
				<!-- //카테고리 -->
			</div>
			<!-- //nav -->
		</nav>
		
		
	</div>

</body>
</html>